// **************************************************
// **************************************************

	// Keep all z-indexes here

// **************************************************
// **************************************************

// global regions

$header-mobile-index: 10;
$header-default-index: 1;

$nav-main-mobile-index: 2001;
$nav-main-index: 1;

$nav-account-mobile-index: 2001;
$nav-account-index: 1;

$clear-menu-index: 2000;

// modals

$modal-index: 9001;
$modal-content-index: 9002;
$modal-blockout-index: 9001;

// wizard elements

$wizard-progress-bar-index: 1;
$wizard-item-content-index: 2;

// panels

$panel-title-index: 2;
$panel-corner-index: 1;

// search form meta component

$search-form-mobile-index: 2;
$search-results-mobile-index: 1;
$search-form-clear-active-index: 100;
$search-bar-dropdown-index: 3000;

// mega select component

$mselect-dropdown-index: 3000;
$mselect-dropdown-close-index: 2000;

// color swatch picker dropdown

$swatch-picker-list-index: 3000;

// messaging element indexes

$message-thread-top-gradient-index: 1000;
$message-thread-bottom-gradient-index: 1000;
